# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de dependências
*.egg-info/
dist/
build/

# Dados gerados
src/co_piloto_quant/data/raw/
src/co_piloto_quant/data/processed/
